*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box; /*para que no se desborden las cajas*/
}

.padre{
    display: flex;
    flex-flow: column nowrap;
    
}

.margen-interno{
    padding: 0px 50px;
}
    .header{
        background:url(../img/background_body.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        

    }
        .menu{
            /* position: fixed ; mantiene estatico el menu
            width:90%; */
            background-color: rgba(0, 0,0, 0.3);
            display: flex;
            flex-direction: row;
            flex-flow: nowrap;
            align-items: center;
            height: 70px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        /*---------Logo animado-------------  */
                .codepad-logo, 
                .codepad-logo::before, 
                .codepad-logo::after {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                }
                
                .codepad-logo {
                  width: 44px;
                  height: 44px;
                  margin-left: 130px;
                  margin-top: 50px;
                  color: #afb0b1;
                  border-radius: 6px;
                  box-shadow: inset 0 0 0 2px #d4d4d4;
                  transform: rotate(45deg);
                }
                
                .logo {
                    background: url("https://dl.dropboxusercontent.com/s/r0n3iyiuhub6j1t/test-fill-01.svg?dl=0") no-repeat 50%/70%;
                    width: 100%;
                    height: 100%;
                    transform: rotate(-45deg);
                }
                
                .codepad-logo::before, 
                .codepad-logo::after {
                  content: '';
                  z-index: -1;
                  margin: -5%;
                  box-shadow: inset 0 0 0 2px;
                  border-radius: 6px;
                  animation: clipIt 8s linear infinite;
                }
                .codepad-logo::before {
                  animation-delay: -4s;
                }
                
                @keyframes clipIt {
                  0%, 100% { clip: rect(0px, 220px, 2px, 0px); }
                  25%      { clip: rect(0px, 2px, 220px, 0px); }
                  50%      { clip: rect(218px, 220px, 220px, 0px); }
                  75%      { clip: rect(0px, 220px, 220px, 218px); }
                }
                .nav{
                    flex: 5 1 auto;
                padding-left: 80px;
            }
                .nav a{
                    text-decoration: none;
                    color: white;
                    font-size: 11px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
               
                .nav a:hover{
                    color: thistle;
                }
            .social{
                flex: 1 1 auto;
            }
                .social-icon{
                    color: white;
                    transition: 0.5s;
                }
                .social a:hover{
                    color: thistle;
                }
        .texto-principal{
            height: 580px;
            display: flex;
            align-items: center;
        }
            h1{
                font-family:serif;
                font-size: 21px;
                color: white;
                letter-spacing: 1px;
                text-align: center;
                line-height: 1.6;
            }
            
            .texto-principal h1::first-letter{
                font-size: 2rem;
            }
    .section{
        background-color: #f7f7f7;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
        .articulos{
            background-color: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
        }  
            .article{
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                background: #ececec;
            }
            .article img{
                width: 100%;
                margin: 0px;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -85px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0px 10px 0px;
                color: #fff;
            }
                .article h2 a{
                    text-decoration: none;
                    color: #fff;

                }
                h2>a:hover{
                    color: thistle;
                }
            .navegacion{
                background: #ececec;
                flex: 1 1 100%;
                display: flex;
                justify-content: center;
            }   
                .navegacion a {
                    color: grey;
                }
     
            
        .aside{
            background-color: #ececec;
            flex: 1 1 auto;
            
        }
            
            .publicidad{
                background-color: #ececec;
            }
            /* .publicidad img{
                 width: 100%; 
            }*/ 
    .footer{
        background: #f7f7f7;
        display: flex;
        justify-content: center;
    }
        .pie{
            color: grey;
            width: 500px;
            display: flex;
            justify-content: center;
        }


        /* ------ medias Q ------*/

        @media all and (max-width: 1150px){
            .codepad-logo {
                width: 60px;
                height: 60px;
                margin-left: 130px;
                margin-top: 57px;
                color: #afb0b1;
                border-radius: 6px;
                box-shadow: inset 0 0 0 2px #d4d4d4;
                transform: rotate(45deg);
              }
            
            .section{
                flex-direction: column;
            }
            .menu{
                flex-direction: column;
                height: auto;
            }
            .aside{
                display: flex;
                justify-content: center;
            }
            h1{
                font-size: 15px;

            }
            .texto-principal{
                height: 400px;
            }
            
        }

        @media all and (max-width:934px){
            .articulos{
                flex-direction: column;
            }
            h1{
                font-size: 14px;
                letter-spacing: 0.5px;
                text-align: center;
                line-height: 1.6;
            }
            .aside{
                display: none;
            }

        }
        /*------ Movil------*/
         @media all and (max-width:563px){
            .codepad-logo{
                display: none;
            } 
            
            .social{
                display: none;
            }
            h1{
                 
                 font-size: 10px;
                 
             }
            .texto-principal{
                 height: 300px;
             }
            .articulos{
                flex-direction: column;
            }
            
            .article h2 a{
                /* text-decoration: none;
                color: #fff; */
                font-size: 14px;

            }
            .article h3 {
                font-size: 10px ;
            }
            
        } 

